# build directory
RPMS/
SRPMS/
SOURCES/
BUILD/
disk1/
SPECS/

_os
_arch
_distribution
.rpmmacros
python.mk

# ignore version* files
rocks-version.mk
rocks-version-common.mk

# ignore roll mk files
Rules*
Rolls*
roll-*

src/myrinet_mx/mx_*.tar.gz
src/myrinet_mx/firmware/*
